.Pokecard {
    width: 300px;
    margin: 15px;
    border: 2px solid darkgray;
    border-radius: 20px;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56 );
    display: inline-block;
    flex-wrap: wrap;
    background-color: white;
}

.Pokecard-name {
    font-size: 25px;
    color: rgb(107, 106, 106);
    font-weight: 600;
}

.Pokecard-image {
    padding: 25px;
    margin: 15px 0px 0px 0px;
    border-radius: 8px;
    background-color: rgb(238, 238, 238);
}